<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>

  <!-- Link to Tailwind CSS-->
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="bg-emerald-600 px-16 py-8 mb-12">
      <nav class="pb-8 flex justify-evenly text-3xl text-yellow-100">
        <!-- Conditionally render login or logout links -->
        <button class="hover:font-bold"> Home </button>
        <button class="hover:font-bold"> Dashboard </button>
        {{#if logged_in}}
        <button class="hover:font-bold" id="logout">logout</button>
        {{else}}
        <a class="hover:font-bold" href="/login">Login</a>
        {{/if}}
      </nav>
      <div class="flex justify-center">
         <p class="rounded-lg bg-yellow-100 text-4xl text-emerald-700 font-extrabold drop-shadow-xl p-4">The Tech Blog</p>
      </div>
     
    </header>

    <main class="container mx-auto">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
