<div class="ring-4 ring-emerald-600 rounded mb-20">
  <div class="bg-emerald-600 flex justify-between p-4 px-8 text-yellow-100">
    <p class="font-semibold text-2xl">{{name}}</p>
    <p class="font-light">Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="p-4 pl-8 text-emerald-900 text-xl">
    {{content}}
  </div>
</div>