<div class="ring-4 ring-emerald-600 rounded mb-8">
  <h2 class="bg-emerald-600 p-4 px-8 text-yellow-100 font-semibold text-4xl">Create a New Post</h2>

  <form class="bg-yellow-50 p-8 new-blog-form">
    <div class="flex flex-col mb-4">
      <label for="email-login" class="text-emerald-900 text-2xl mb-2 mr-2">Title: </label>
      <input class="ring-2 rounded p-2" type="text" id="blog-title" />
    </div>
    <div class="flex flex-col mb-8">
      <label for="password-login" class="text-emerald-900 text-2xl mb-2 mr-2">Content: </label>
      <textarea class="ring-2 rounded p-2" type="password" id="blog-content" rows="4" cols="50" /></textarea>
    </div>
    <div class="flex justify-center mb-4">
      <button class="text-yellow-100 text-3xl bg-emerald-600 hover:bg-emerald-700 transition-all ring-2 rounded-lg ring-emerald-500 p-4" type="submit">
        Create Post
      </button>
    </div>
  </form>
</div>

<script src="./js/create.js"></script>