<div class="ring-4 ring-emerald-600 rounded mb-8">
  <h2 class="bg-emerald-600 p-4 px-8 text-yellow-100 font-semibold text-4xl">Login</h2>

  <form class="bg-yellow-50 p-8 login-form">
    <div class="flex flex-col items-center mb-4">
      <label for="email-login" class="text-emerald-900 text-2xl mb-2 mr-2">Email: </label>
      <input class="ring-2 rounded w-1/2 p-2" type="text" id="email-login" />
    </div>
    <div class="flex flex-col items-center mb-8">
      <label for="password-login" class="text-emerald-900 text-2xl mb-2 mr-2">Password: </label>
      <input class="ring-2 rounded w-1/2 p-2" type="password" id="password-login" />
    </div>
    <div class="mb-4">
      <button class="block w-1/2 text-yellow-100 text-2xl bg-emerald-600 hover:bg-emerald-700 transition-all ring-2 rounded-lg ring-emerald-500 p-4 mx-auto" type="submit">
        Login
      </button>
    </div>
    <p class="flex justify-center"> Don't have an account? <a href="/signup"
        class="ml-2 text-indigo-500 hover:underline"> Sign up here.</a></p>
  </form>
</div>

<script src="./js/login.js"></script>